.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: gray;
  min-height: 10vh;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

